openapi: 3.2.0
info:
  description: ZeroTier Central Network Management Portal API.
  version: v1
  title: ZeroTier Central User API
  contact:
    name: ZeroTier Support Discussion Forum
    url: https://discuss.zerotier.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.zerotier.com/api/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: User
  description: User management operations
paths:
  /user/{userID}:
    get:
      tags:
      - User
      operationId: getUserByID
      summary: Get user record
      parameters:
      - name: userID
        description: User ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User get success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - User
      operationId: updateUserByID
      summary: Update user record (SMS number or Display Name only)
      parameters:
      - name: userID
        description: User ID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: User object JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User update success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - User
      operationId: deleteUserByID
      summary: Delete user
      description: Deletes the user and all associated networks. This is not reversible. Delete at your own risk.
      parameters:
      - name: userID
        description: User ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: user deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/token:
    post:
      tags:
      - User
      operationId: addAPIToken
      summary: Add an API token
      parameters:
      - name: userID
        description: User ID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: APIToken JSON object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIToken'
      responses:
        '200':
          description: API Token added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/token/{tokenName}:
    delete:
      tags:
      - User
      operationId: deleteAPIToken
      summary: Delete API Token
      parameters:
      - name: userID
        description: User ID
        in: path
        required: true
        schema:
          type: string
      - name: tokenName
        description: Token Name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: API token deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    AccessDeniedError:
      description: Access denied
    BadRequest:
      description: Bad request
    UnauthorizedError:
      description: Authorization required
    NotFound:
      description: Item not found
  schemas:
    APIToken:
      type: object
      properties:
        tokenName:
          type: string
          example: my-super-secret-token
          description: user specified token name
          readOnly: false
        token:
          type: string
          example: adsf98ashdkjh3689adsfnj3$ADn
          description: API Token.  Minimum 32 characters. This token is encrypted in the database and can not be retrieved once set
          readOnly: false
          writeOnly: true
    AuthMethods:
      type: object
      properties:
        local:
          type:
          - string
          - 'null'
          example: user@example.com
          description: email address for built-in authentication
          readOnly: true
        google:
          type:
          - string
          - 'null'
          example: '156162346876134683'
          description: Google OIDC ID
          readOnly: true
        oidc:
          type:
          - string
          - 'null'
          example: 00000000-0000-0000-0000-000000000000
          description: Generic OIDC ID
          readOnly: true
    Permissions:
      type: object
      properties:
        a:
          type: boolean
          example: true
          description: Authorize permission
        d:
          type: boolean
          example: true
          description: Delete permission
        m:
          type: boolean
          example: true
          description: Modify network settings permission
        r:
          type: boolean
          example: true
          description: Read network settings permission
    User:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: User ID
          example: 00000000-0000-0000-0000-000000000000
        orgId:
          type: string
          readOnly: true
          description: Organization ID
          example: 00000000-0000-0000-0000-000000000000
        globalPermissions:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Permissions'
        displayName:
          type: string
          readOnly: false
          description: Display Name
          example: Joe User
        email:
          type: string
          readOnly: true
          description: User email address
          example: user@example.com
        auth:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/AuthMethods'
        smsNumber:
          type: string
          readOnly: false
          description: SMS number
          example: +1-800-555-1212
          deprecated: true
        tokens:
          type: array
          readOnly: true
          items:
            type: string
          example:
          - my-token-id
          description: List of API token names.
  securitySchemes:
    tokenAuth:
      type: http
      scheme: token
